* {
  margin: 0;
}

.title {
  height: 100px;
  display: flex;
  background-color: burlywood;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

div {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 35px;
  font-style: italic;
  color: rgb(153, 153, 19);
  padding-right: 30px;
}

ol li {
  font-size: 28px;
  line-height: 56px;
  padding: 30px;
}

span {
  font-size: 18px;
  font-style: italic;
  color: rgb(19, 2, 2);
}